@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

ul,
li {
    list-style: none;
}

.nav_list {
    margin-top: 20px;
}

.navbar_list {
    margin-left: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2C3847;
    opacity: 0.8;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.order {
    margin-left: 30px;
    padding: 14px 30px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #494949;
    border-radius: 27px;
}

.order:hover {
    background-color: #5FB848;
}


.disk {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #333333;
}

.fa-solid {
    font-size: 30px;
    width: 50px;
}

.icon {
    padding-left: 200px;

}





/*================================   Nav  end======================================   */




/* =================================== Header start =============== */

header {
    margin-top: 100px;
}


.healty h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 95px;
    color: #181D19;
}

.healty h2 span {
    color: #5FB848;
}

.healty p {
    margin-top: 30px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 34px;
    color: #2C3847;
}

.healty button {
    margin-top: 50px;
    padding: 16px 30px;
    border: none;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF
}

.healty button:hover {
    background-color: blue;
}


.somewhere {

    width: 100%;
}




/* ============================= Main start============================= */


.choose {
    padding-top: 100px;
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    color: #151414;
}

.choose p {
    margin-top: 20px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3B433E;
    margin-bottom: 62px;
}


.chemicals {
    width: 300px;
    height: 400px;
    margin-left: 110px;
    border-radius: 10%;
}

.cards h2 {
    margin-top: 20px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #181D19;
}


.cards p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background: linear-gradient(180deg, #39463F 0%, #101612 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.dollars {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
}

.dollars h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 780;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

.dollars p {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 780;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}



/* =================================  Main  end  =========================== */


/* =================   Section start  ============ */

.section_one {
    margin-top: 100px;
}

.sochno {
    width: 100%;
}

.about h2 {
    padding-top: 100px;
    margin-bottom: 32px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    color: #151414;
}

.about p {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 34px;
    color: #181D19;
}

.more {
    margin-top: 50px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding: 16px 30px;
    border: none;
}

.section_two {
    margin-top: 100px;
}


/* ================ Section one end  ============= */


/* ================ Section two start  =============*/


.salat {
    width: 100%;
}

.fresh {
    margin-left: 100px;
}

.fresh h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    color: #151414;
}

.fresh p {
    margin-top: 20px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 34px;
    color: #181D19;
}

.fresh button {
    margin-top: 50px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    padding: 16px 30px;

    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

/* ==========  Section two end  ========= */



/* ===================== Section  three  start  ====== */

.section_three {
    margin-top: 100px;
}

.cook div {
    display: flex;
    align-items: center;
}

.guarented {
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
    color: #181D19;
}

.cheaf {
    width: 90%;
}


.cook h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    color: #151414;
}

.cook p {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 34px;
    color: #181D19;
}

/* ==========  Section three end  ========= */

/* ==========  Section four  start  ========= */



.dishes {
    padding-top: 100px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    color: #151414;
}

.dishes p {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3B433E;
}



.salt {
    margin-top: 30px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #181D19;
}

.combinad {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background: linear-gradient(180deg, #39463F 0%, #101612 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.all {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    padding: 16px 32px;
    border: none;
    margin-top: 100px;
    margin-left: 600px;
}

.afraid {
    margin-top: 100px;
}

/* ==================================     section four end */


/* ==================================     section five start */

.happy {
    padding-top: 100px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    color: #151414;
    margin-top: 100px;
}

.circle {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.circle div {
    margin-left: 30px;
}

.circle h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
}

.circle span {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 760;
    font-size: 14px;
    line-height: 17px;
    color: #888A9A;
}


.thirty {
    margin-top: 30px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 30px;
    color: #181D19;
}


/* ===================== section five end  ================ */


.section_six {
    margin-top: 100px;
    margin-bottom: 50px;
}

.subscrinbe {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #151414;
    margin-bottom: 20px;
}


.your {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3B433E;
}


.email {
    padding: 16px 25px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 22px;
    color: #8A8A8A;
    border-radius: 50px;
    border: none;

}

.same {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    padding: 18px 25px;
    border: none;
    margin-left: 30px;
}

.enter {
    margin-top: 60px;
    margin-left: 470px;
}


/* ============= Footer start======================= */




footer {
    margin-top: 100px;
}

.formed h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 26px;
    line-height: 32px;
    color: #2C3847;
}

.formed p {
    margin-top: 30px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: #657582;
}

.and h2 {
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 770;
    font-size: 22px;
    line-height: 28px;
    color: #2C3847;
}

.and p {
    margin-top: 35px;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: #657582;
    margin-bottom: 50px;
}

.copy {
    margin-top: 10px;
    text-align: center;
    font-family: 'Sharp Sans No1';
    font-style: normal;
    font-weight: 760;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    
}
.nature{
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    margin-bottom: 20px;
}




























@media (max-width:575px) {
    .disk {
        text-align: center;
    }

    .navbar_list {
        margin-left: -10px;
        gap: 10px;
        margin-top: 20px;
    }

    .icon {
        padding-top: 30px;
        padding-left: 0;
        text-align: center;
    }

    .fa-solid {
        padding-top: 10px;
        width: 50px;
    }

    .healty h2 {
        font-size: 47px;
        text-align: center;
    }
    
    .healty p {
        text-align: center;
    }

    .healty button {
        margin-left: 100px;
    }

    .somewhere {
        margin-top: 50px;
    }

    .dollars {
        padding-top: 0;
        display: grid;
    }

    .dollars div {
        margin-top: 50px;
    }

    .about h2 {
        padding-top: 0;
        text-align: center;
    }

    .about p {
        text-align: center;
        font-size: 20px;
    }

    .sochno {
        margin-top: 100px;
    }

    .more {
        margin-left: 100px;
    }

    .section_two {
        margin-top: 50px;
    }

    .fresh {
        margin-left: 0;
        text-align: center;
    }

    .fresh h2 {
        margin-top: 50px;
        font-size: 50px;
    }

    .fresh p {
        margin-top: 20px;
        font-size: 18px;
    }

    .fresh button {
        margin-top: 50px;
    }

    .cook h2 {
        font-size: 50px;
        text-align: center;
    }

    .cook p {
        text-align: center;
        font-size: 20px;
    }

    .cook div {
        margin-left: 20px;
    }

    .cheaf {
        margin-top: 50px;
    }

    .all {
        margin-top: 50px;
        margin-left: 120px;
    }

    .happy {
        margin-top: 50px;
        font-size: 42px;
        text-align: center;
    }

    .circle img {
        margin-left: 40px;
    }

    .thirty {
        font-size: 16px;
    }

    .enter {
        margin-left: 100px;
    }

    .same {
        margin-top: 30px;
    }

    .formed h2 {
        text-align: center;
    }

    .formed p {
        text-align: center;
    }

    .and h2 {
        text-align: center;
    }

    .and p {
        text-align: center;
    }
    .copy{
        font-size: 15px;
    }
    .chemicals{
        margin-left: 15px;
    }
}